@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cubano");

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  --background: #030027;
  --primary: #151e3f;
  --secondary: #474973;
  --accent-alt: #e2c044;
  --accent: #1c7c54;
  --text: #f2f3d9;
}

* {
  border: 0;
  padding: 0;
  margin: 0;

  white-space: nowrap;
  box-sizing: border-box;

  color: var(--text);

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
}
h2 {
  font-size: clamp(1.75rem, 4vw, 2.75rem);
}
h3 {
  font-size: clamp(1.5rem, 3.5vw, 2.25rem);
}
h4 {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
}

.centered-flex {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.content,
.content-main {
  flex-direction: column;
}

.noise {
  background-image: url("../assets/noise.webp");
}
