@keyframes fade-side-in {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fade-side-in {
  position: relative;
  opacity: 0;
  animation: fade-side-in 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@keyframes fade-r-side-in {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fade-r-side-in {
  position: relative;
  opacity: 0;
  animation: fade-r-side-in 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@keyframes fade-up-in {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-up-in {
  position: relative;
  opacity: 0;
  animation: fade-up-in 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@keyframes fade-down-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-down-in {
  position: relative;
  opacity: 0;
  animation: fade-down-in 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.blur-in {
  transition: 1s ease-in-out;
  animation: blur-in 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
@keyframes blur-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blur-out {
  transition: 1s ease-in-out;
  animation: blur-out 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
@keyframes blur-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fast-fade-side-in {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fast-fade-side-in {
  position: relative;
  opacity: 0;
  animation: fast-fade-side-in 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@keyframes fast-fade-in {
  from {
    opacity: 0;
    transform: scale(0%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

.fast-fade-in {
  position: relative;
  opacity: 0;
  animation: fast-fade-in 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@keyframes animated-border {
  0% {
    box-shadow: 0 0 0 0 color-mix(in srgb, var(--accent-alt) 90%, transparent);
  }
  100% {
    box-shadow: 0 0 0 20px transparent;
  }
}
