button {
  transform: translate(0, 0);
  box-shadow: 0 0 0 var(--secondary);
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

button:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0 var(--primary);
}

.btn-alt {
  background-color: var(--accent);
  font-family: "Space Grotesk", sans-serif;
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1.3rem;
}
