#prizes {
  flex-direction: row;
  gap: 0.7rem;
}

.prize-sub-cnt-left {
  height: 50%;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  background: linear-gradient(180deg, var(--accent) -15.9%, #f5c144 72.56%);
}
.prize-sub-cnt-right {
  height: 50%;
  border-radius: 20px;
  gap: 0.7rem;
  flex-direction: column;
  /* background: linear-gradient(180deg, var(--accent) -15.9%, #f5c144 72.56%); */
}
.prize-merch-cnt {
  flex-direction: row;
  height: 75%;
  gap: 0.7rem;
}

.swags svg {
  height: 12dvh;
}

.merch-carousel {
  flex: 1;
  border: 1px solid white;
  height: 100%;
  width: 10rem;
  border-radius: 10px;
  border: 2px solid var(--secondary);
}

.podium-cnt {
  height: 100%;
  align-items: flex-end !important;
  flex-direction: row;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  border: 2px solid var(--secondary);
}

.podium {
  width: 90px;
  position: relative;
  border-radius: 10px;
  padding: 1rem 0rem;
  align-items: start !important;
  justify-content: flex-end !important;

  font-family: "Cubano", sans-serif;
  font-size: 1.4rem;

  writing-mode: vertical-rl;

  gap: 0.2rem;
  flex-direction: column;

  font-weight: 900;
  transform: rotateZ(180deg);
  text-orientation: sideways;
  color: var(--background);
}
.position {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--background);
}

.podium-block {
  flex-direction: column;
}

.podium-gold {
  height: 190px; /* Adjust height for gold podium */
  background: linear-gradient(
    135deg,
    #fff4c1 0%,
    #ffd700 25%,
    #d4af37 50%,
    #c19a0a 75%,
    #fff4c1 100%
  );
}

.podium-silver {
  height: 165px; /* Adjust height for silver podium */
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #d9d9d9 25%,
    #a6a6a6 50%,
    #e0e0e0 75%,
    #ffffff 100%
  );
}

.podium-bronze {
  height: 140px; /* Adjust height for bronze podium */
  background: linear-gradient(
    135deg,
    #ffd6a5 0%,
    #cd7f32 25%,
    #8b5a2b 50%,
    #d08c4e 75%,
    #ffd6a5 100%
  );
}

.merch-text {
  flex-direction: column;
  align-items: start !important;
}

.merch-text span {
  color: var(--background);
  font-size: 1.5rem;
  font-family: "Space Grotesk", sans-serif;
  background: linear-gradient(90deg, var(--accent) -15.9%, #f5c144 75.5%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.position svg {
  height: 4dvh;
  width: 2dvw;
}

.circle {
  /* height: 50px; */
  background-color: transparent;
  border-radius: 5px;
  position: relative;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  transition: 1s ease-in-out;
  animation: bounce 0.5s infinite alternate;
}
.circle svg {
  height: 100px;
}

.circle-silver {
  animation-delay: 0s;
}

.circle-gold {
  animation-delay: 0.3s;
}

.circle-bronze {
  animation-delay: 0.7s;
}

.money {
  color: var(--background);
  font-family: "Cubano", sans-serif;
}

.grand-prize {
  height: 90%;
  width: 100%;
  flex-direction: column;
  align-items: start !important;
  justify-content: space-between !important;
}

.prize-pool-text {
  font-size: 2rem;
  font-weight: 550;
  color: var(--background);
}

.prize-pool-text svg {
  width: 3dvw;
}
.prize-pool-text svg:nth-child(2) {
  width: 6dvw;
}

.prize-pool-amount {
  font-family: "Cubano", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--background);
}

.swags {
  justify-content: space-between !important;
  background-color: var(--primary);
  padding: 1rem;
  height: 35%;
  width: 100%;
  border-radius: 10px;
  flex-direction: row;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, 0) scaleY(0.95);
  }
  50% {
    transform: translate(-50%, -10%) scaleY(1.05);
  }
  100% {
    transform: translate(-50%, -15%) scaleY(1);
  }
}
