.s00 { animation-delay: 0.25s; }
.s01 { animation-delay: 0.3s; }
.s02 { animation-delay: 0.35s; }
.s03 { animation-delay: 0.4s; }
.s04 { animation-delay: 0.45s; }
.s05 { animation-delay: 0.5s; }

.s1  { animation-delay: 0.4s; }
.s2  { animation-delay: 0.5s; }
.s3  { animation-delay: 0.6s; }
.s4  { animation-delay: 0.7s; }
.s5 { animation-delay: 0.8s; }
.s6 { animation-delay: 0.9s; }
.s7 { animation-delay: 1s; }
.s8 { animation-delay: 1.1s; }
.s9 { animation-delay: 1.2s; }
.s10 { animation-delay: 1.3s; }
.s11 { animation-delay: 1.4s; }
.s12 { animation-delay: 1.5s; }
.s13 { animation-delay: 1.6s; }
.s14 { animation-delay: 1.7s; }